#cover {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(240,220,80);
}

#cover > div {
    background-color: rgb(240,220,80);
}

h1 {
  font-size: 48px;
}

p {
  font-size: 24px;
}

#contents {
    background-color: green;
}

